New Unity Project/Library/
New Unity Project/UnityEngine.UI.Player.csproj
New Unity Project/UnityEngine.UI.csproj
New Unity Project/UnityEngine.TestRunner.Player.csproj
New Unity Project/UnityEngine.TestRunner.csproj
New Unity Project/UnityEditor.UI.csproj
New Unity Project/UnityEditor.TestRunner.csproj
New Unity Project/Unity.VSCode.Editor.csproj
New Unity Project/Unity.VisualStudio.Editor.csproj
New Unity Project/Unity.VisualScripting.State.Player.csproj
New Unity Project/Unity.VisualScripting.State.Editor.csproj
New Unity Project/Unity.VisualScripting.State.csproj
New Unity Project/Unity.VisualScripting.Shared.Editor.csproj
New Unity Project/Unity.VisualScripting.SettingsProvider.Editor.csproj
New Unity Project/Unity.VisualScripting.Flow.Player.csproj
New Unity Project/Unity.VisualScripting.Flow.Editor.csproj
New Unity Project/Unity.VisualScripting.Flow.csproj
New Unity Project/Unity.VisualScripting.Core.Player.csproj
New Unity Project/Unity.VisualScripting.Core.Editor.csproj
New Unity Project/Unity.VisualScripting.Core.csproj
New Unity Project/Unity.Timeline.Player.csproj
New Unity Project/Unity.Timeline.Editor.csproj
New Unity Project/Unity.Timeline.csproj
New Unity Project/Unity.TextMeshPro.Player.csproj
New Unity Project/Unity.TextMeshPro.Editor.csproj
New Unity Project/Unity.TextMeshPro.csproj
New Unity Project/Unity.ShaderGraph.Utilities.csproj
New Unity Project/Unity.ShaderGraph.Editor.csproj
New Unity Project/Unity.Services.Core.Editor.csproj
New Unity Project/Unity.Searcher.Editor.csproj
New Unity Project/Unity.Rider.Editor.csproj
New Unity Project/Unity.RenderPipelines.Universal.Shaders.Player.csproj
New Unity Project/Unity.RenderPipelines.Universal.Shaders.csproj
New Unity Project/Unity.RenderPipelines.Universal.Runtime.Player.csproj
New Unity Project/Unity.RenderPipelines.Universal.Runtime.csproj
New Unity Project/Unity.RenderPipelines.Universal.Editor.csproj
New Unity Project/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
New Unity Project/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
New Unity Project/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
New Unity Project/Unity.RenderPipelines.Core.ShaderLibrary.csproj
New Unity Project/Unity.RenderPipelines.Core.Runtime.Player.csproj
New Unity Project/Unity.RenderPipelines.Core.Runtime.csproj
New Unity Project/Unity.RenderPipelines.Core.Editor.csproj
New Unity Project/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
New Unity Project/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
New Unity Project/Unity.PlasticSCM.Editor.csproj
New Unity Project/Unity.Mathematics.Player.csproj
New Unity Project/Unity.Mathematics.Editor.csproj
New Unity Project/Unity.Mathematics.csproj
New Unity Project/Unity.CollabProxy.Editor.csproj
New Unity Project/Unity.Burst.Player.csproj
New Unity Project/Unity.Burst.Editor.csproj
New Unity Project/Unity.Burst.csproj
New Unity Project/Unity.Burst.CodeGen.csproj
New Unity Project/Fern.RenderPipelines.Universal.PostProcessing.Runtime.csproj
New Unity Project/DOTweenPro.Scripts.csproj
New Unity Project/DOTweenPro.EditorScripts.csproj
New Unity Project/DOTween.Modules.csproj
New Unity Project/com.unity.cinemachine.editor.csproj
New Unity Project/com.lightbug.character-controller-pro.csproj
New Unity Project/Cinemachine.csproj
New Unity Project/Assembly-CSharp-Editor.csproj
New Unity Project/Assembly-CSharp.csproj
New Unity Project/.vs/
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/VirtualMeshEditorUtility.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/VirtualMeshEditorUtility.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Collections/UnityPackageImporter.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Burst/UnityPackageImporter.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Collections/UnityPackageImporter.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Burst/UnityPackageImporter.cs
New Unity Project/Unity.Toonshader.Editor.csproj
New Unity Project/Unity.Toonshader.csproj
New Unity Project/Unity.Recorder.Editor.csproj
New Unity Project/Unity.Recorder.csproj
New Unity Project/Unity.Recorder.Base.csproj
New Unity Project/Unity.Jobs.Editor.csproj
New Unity Project/Unity.Jobs.csproj
New Unity Project/Unity.Jobs.CodeGen.csproj
New Unity Project/Unity.Collections.Editor.csproj
New Unity Project/Unity.Collections.DocCodeSamples.csproj
New Unity Project/Unity.Collections.csproj
New Unity Project/Unity.Collections.CodeGen.csproj
New Unity Project/Unity.Collections.BurstCompatibilityGen.csproj
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/MenuItemScript.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/MenuItemScript.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaSphereColliderGizmoDrawer.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaSphereColliderGizmoDrawer.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaSphereColliderEditor.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaSphereColliderEditor.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaPlaneColliderGizmoDrawer.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaPlaneColliderGizmoDrawer.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaPlaneColliderEditor.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaPlaneColliderEditor.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaClothGizmoDrawer.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaClothGizmoDrawer.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaClothEditor.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaClothEditor.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Collections/MagicaCloth2UPMImporterCollections.asmdef.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Collections/MagicaCloth2UPMImporterCollections.asmdef
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Burst/MagicaCloth2UPMImporterBurst.asmdef.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Burst/MagicaCloth2UPMImporterBurst.asmdef
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/MagicaCloth2.Editor.asmdef.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/MagicaCloth2.Editor.asmdef
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaCapsuleColliderGizmoDrawer.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/MagicaCapsuleColliderGizmoDrawer.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaCapsuleColliderEditor.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/MagicaCapsuleColliderEditor.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/GizmoUtility.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos/GizmoUtility.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Gizmos.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/DrawIconInHierarchy.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/DrawIconInHierarchy.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/CurveSerializeDataDrawer.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/CurveSerializeDataDrawer.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Collections.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothPresetUtility.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothPresetUtility.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothPainter.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothPainter.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothInspectorUtility.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothInspectorUtility.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothEditorUtility.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothEditorUtility.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothEditorManager.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothEditorManager.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothAssetPostprocessor.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth/ClothAssetPostprocessor.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/Cloth.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/CheckSliderSerializeDataDrawer.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/CheckSliderSerializeDataDrawer.cs
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/UnityPackageImporter/Burst.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/AboutMenu.cs.meta
New Unity Project/Assets/MagicaCloth2/Scripts/Editor/EditorExtension/AboutMenu.cs
